@import url("https://fonts.googleapis.com/css?family=Poppins");
html, body {
  margin: 0;
  position: relative;
  height: 100%;
  background-color: #fff;
  font-family: "Poppins", sans-serif; /*""Fira Sans", Helvetica, Arial, sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
    display:flex;
    flex-direction:column;
}

.fas, .far {
    line-height: 1.5 !important;
}



.nav {
    max-height: 8vh;
    background-color: #4f4e56;
    display:flex;
    flex-direction: row;
    flex:1;
    justify-content: flex-start;
}

.total-wrapper {
    display: flex; 
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.nav button[type="submit"] {
background-color: transparent; 
  border: none;
  border-radius: 10px;
  padding: 0;
  vertical-align: center;
  cursor: pointer;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    color: rgba(255, 209, 102, 1);
      margin: 0 10px;
    padding: 0px 10px;
    outline: none;

}

.nav-right button[type="submit"] {
background-color: transparent; 
  border: none;
  color: rgba(255, 209, 102, 1);
  font-weight: bold;
  border-radius: 10px;
  padding: 5px 10px;
  vertical-align: center;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
      outline: none;

}

/*.main-content button[type="submit"] {
  background-color: Transparent;
  border: none;
  color:  rgba(255, 209, 102, 1);
  font-family: "Poppins", sans-serif;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  outline:none;
}*/

form {
    margin: 0;
}

.main-content {
    display:flex;
    flex-direction:row;
    width:100vw;
    height:92vh;
    overflow: hidden;
}

.sidebar {
    display: flex;
    flex-direction:column;
    width: 20vw;
    height: 92vh;
    background: #9f9fa8;
}

.sidebar-button {
    font-family: "Poppins", sans-serif; 
  background-color: rgba(255, 209, 102, 1);
  border: none;
  color: white;
  width: 90%;
  margin: 10px auto;
  margin-bottom: 0px;
  border-radius: 10px;
  text-align: center;
  justify-content: center;
  padding: 10px 70px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  display: flex;
}

.item-button {
    font-family: "Poppins", sans-serif; 
  background-color: transparent;
  border: none;
  color: rgba(255, 209, 102, 1);
  font-size: 20px;
  cursor: pointer;
  outline: none;
  font-weight: bold;
}

.sidebar-link {
    font-family: "Poppins", sans-serif; 
  background-color: transparent;
  border: none;
  color: white;
  margin: 10px auto;
  margin-bottom: 0px;
  border-radius: 10px;
  padding: 10px 70px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  display: flex;
  font-weight: bold;
}

.inbox {
    display: flex;
    flex-direction:column;
    width: 80vw;
    height: 92vh;
    align-items: center;
}


.nav-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto 45px;
    flex: 1;
}

.nav-right {
    display: flex;
    flex-direction: row;
    margin: auto 45px;
    align-items: center;
}

.button-icon {
    font-size: 80px;
}

.button-text {
    font-size: 40px;
}

.inbox {
    overflow-y: hidden;
    overflow-x: hidden;
    font-size: 14px;
}

.emails {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
        overflow-y: scroll;
    overflow-x: hidden;
}